@import "./variables";
@import "./mixins";
@import "./placeholders";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw;
}

html {
  height: 100%;
  font-size: 62.5%;
  line-height: 1.15;
  margin: 0;
}

body > * {
  max-width: 100vw;
  margin: auto;
}

body {
  overflow-x: hidden;
  font-family: $fontFamily-primary;
  font-size: $ft-sm;
  line-height: 1.5;
  background-image: url("../public/img/Background-picture-copy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $background-color;
  color: $ft-color;
}

a {
  text-decoration: none;
  color: $ft-color;
}

a:hover {
  font-weight: 800;
  transform: scale(1.1, 1.1);
}

li {
  list-style: none;
}

ul {
  padding: unset;
}

header::after {
  content: "";
  position: absolute;
  top: 68vw;
  left: 0;
  right: 0;
  width: 100vw;
  height: 700px;
  @extend %linear-style;
}

header::before {
  content: "";
  z-index: 2;
  top: 84vw;
  left: 0;
  right: 0;
  width: 100%;
  height: 150px;
  position: absolute;
  background: linear-gradient(to top, #0b1d26 10%, rgb(12 15 15 / 0%));
}

.navbar {
  height: 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar,
header {
  width: 100%;
  max-width: 1760px;
}

h1 {
  font-weight: $ft-w-extraBold;
  color: $accent;
  font-size: $ft-sm;
  flex-basis: 100%;
  word-spacing: 0.5rem;
  letter-spacing: 0.6rem;
  padding-left: 3rem;
}

h1::before,
.article-title::before {
  content: "";
  display: inline-block;
  width: 8rem;
  height: 2px;
  background-color: $accent;
  position: relative;
}

h1::before {
  right: 3rem;
  top: -4px;
}

.nav-link-bloc {
  display: flex;
  justify-content: space-between;
  width: 300px;
  li {
    display: inline-block;
  }
}

.profil-bloc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10rem;
}

.profil-bloc a {
  font-size: 1.7rem;
}

.social-media-bloc,
.progress-bloc {
  display: flex;
  flex-direction: column;
}

.social-media-bloc {
  justify-content: center;
  align-items: self-start;
  height: 40rem;
  width: 10rem;
  margin-right: 33rem;
}

.social-media-bloc > * {
  padding: 10px 0;
}

.social-media-bloc img {
  width: 2.45rem;
}

.follow {
  margin: unset;
  writing-mode: vertical-lr;
  letter-spacing: 0.2rem;
  height: max-content;
}

.proposition-value-bloc {
  display: flex;
  flex-wrap: wrap;
  width: 100rem;
}

.proposition-value-bloc p {
  font-size: $ft-xxl;
  font-family: $fontFamily-secondary;
  font-weight: $ft-w-sm;
  line-height: 9.5rem;
  margin-top: 2rem;
}

.proposition-value-bloc a {
  display: inline-block;
  width: 10rem;
  height: 5rem;
}

.proposition-value-bloc a,
.proposition-value-bloc img {
  margin-top: 4rem;
}

.arrow-down {
  width: 16px;
  height: 24px;
}

.progress-bloc {
  width: 10rem;
  height: 24rem;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 29rem;
  right: 15vw;
  z-index: 4;
}

.progress-bloc a {
  width: 100%;
  text-align: end;
  padding-right: 5rem;
  position: relative;
}

.progress-bloc::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 7px;
  height: 100%;
  background-color: rgba(203, 205, 204, 0.68);
}

.progress-bloc::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 6px;
  background-color: white;
  transition: height 0.5s ease-out;
  height: var(--height, 0);
}

.progress-bloc.active::after {
  height: 0%;
}

.progress-bloc.active.two::after {
  height: 40%;
}

.progress-bloc.active.three::after {
  height: 70%;
}

.progress-bloc.active.four::after {
  height: 100%;
}

.article-title {
  @extend %h2-style;
}

.article-title::before {
  top: -9px;
  margin-right: 20px;
}

.article-subtitle {
  @extend %h3-style;
}

.number-article {
  @extend %num-article;
  margin: auto;
  position: absolute;
}

h4 {
  @extend %h4-style;
}

span {
  @extend %font-logo;
}

header {
  height: 64rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 132vh;
}

.article-img {
  justify-self: end;
  max-width: 56.6rem;
  max-height: 72rem;
}

main {
  background-color: transparent;
  width: 50vw;
  max-width: 1700px;
  margin: auto;
}

.section-homepage:first-child {
  z-index: 3;
  position: relative;
}

.article-homepage {
  margin-bottom: 20rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.article-text-bloc {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 15%;
}

.article-title {
  flex-basis: 100%;
}

.section-homepage .article-homepage:nth-child(2) {
  flex-direction: row-reverse;
}

.section-homepage .article-homepage:nth-child(2) .article-text-bloc {
  margin-right: unset;
  margin-left: 15%;
}

.article-subtitle {
  margin-bottom: 10px;
  margin-top: unset;
}

.article-text {
  max-width: 632px;
  width: max-content;
  height: max-content;
  min-height: 160px;
  font-weight: 400;
}

.article-homepage p,
.article-homepage a {
  font-weight: $ft-w-bold;
}

.article-homepage a {
  color: $accent;
  display: inline-block;
  text-decoration: none;
  width: 20rem;
  flex-basis: 100%;
}

.arrow {
  display: inline-block;
  position: absolute;
  height: 11px;
  width: 11px;
  border-right: 3px solid #fbd784;
  border-bottom: 3px solid #fbd784;
  transform: rotate(-45deg) translate(3px, 13px);
  margin-left: 20px;
}

.arrow::before {
  content: "";
  position: absolute;
  transform: translateX(-14px) rotate(-135deg);
  width: 30px;
  height: 3px;
  background-color: $accent;
}

.article-homepage a,
.arrow-right {
  margin-top: 2rem;
}

.arrow-right {
  width: 30px;
  height: 20px;
}

.section-homepage .article-homepage:nth-child(even) .article-img {
  justify-self: baseline;
}

.section-homepage .article-homepage:nth-child(odd) .number-article {
  left: -10%;
}

.section-homepage .article-homepage:nth-child(1) .number-article {
  top: -2%;
}

.section-homepage .article-homepage:nth-child(2) .number-article {
  top: 34%;
  right: 36%;
}

.section-homepage .article-homepage:nth-child(3) .number-article {
  top: 71%;
}

#first-article .number-article {
  top: 30%;
}

footer {
  width: 72vw;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  margin: auto;
  max-width: 1700px;
  bottom: -100px;
  left: 0;
  right: 0;
}

footer li,
h4 {
  margin-bottom: 2rem;
}

.mntn-copyright-bloc {
  grid-column: 1/5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.mntn-copyright-bloc p {
  margin-top: 20px;
  display: block;
}

.mntn-copyright-bloc:first-of-type p {
  font-weight: $ft-w-bold;
}

.mntn-copyright-bloc p:last-child {
  margin-top: 12rem;
  color: #ffffff7d;
}

.blog-footer-bloc {
  grid-column: 7/9;
}

.infos-mntn-bloc {
  grid-column: 9/11;
}

.mntn-copyright-bloc,
.blog-footer-bloc,
.infos-mntn-bloc {
  margin-bottom: 12rem;
}

@include from(lg) {
  header {
    margin-bottom: 57vh;
  }

  header::after {
    top: 62vw;
  }

  header::before {
    top: 81vw;
  }

  .proposition-value-bloc p {
    margin-bottom: unset;
  }

  .progress-bloc {
    right: 4vw;
  }

  main {
    width: calc(100vw - 36rem);
  }

  section,
  footer {
    max-width: 1462px;
    margin: auto;
  }

  .article-homepage {
    width: 100%;
  }

  .article-text-bloc {
    margin-left: 10rem;
    margin-right: unset;
  }

  .article-title {
    font-size: $ft-sm;
    margin-top: 3rem;
  }

  .section-homepage .article-homepage:nth-child(even) .article-text-bloc {
    padding-left: unset;
    flex-basis: 45%;
  }

  .section-homepage .article-homepage:nth-child(2) .article-text-bloc {
    margin: unset;
    flex-basis: 45%;
  }

  .section-homepage .article-homepage:nth-child(2) {
    justify-content: space-between;
  }

  .section-homepage .article-homepage:nth-child(2) .article-subtitle {
    flex-basis: 68%;
  }

  .article-subtitle {
    flex-basis: 66%;
  }

  .article-text {
    padding-top: 20px;
  }

  .article-homepage a,
  .arrow-right,
  .section-homepage .article-homepage:nth-child(even) a,
  .section-homepage .article-homepage:nth-child(even) .arrow-right {
    margin: unset;
  }

  .section-homepage .article-homepage:nth-child(odd) .number-article {
    left: -3%;
  }

  .section-homepage .article-homepage:nth-child(1) .number-article {
    top: -2%;
  }

  .section-homepage .article-homepage:nth-child(2) .number-article {
    right: 36%;
    top: 35%;
  }

  .section-homepage .article-homepage:nth-child(3) .number-article {
    top: 71%;
  }

  .article-img {
    min-height: 52rem;
    min-width: 36.6rem;
    width: 100%;
    height: max-content;
  }

  .mntn-copyright-bloc {
    grid-column: 1/4;
  }

  .infos-mntn-bloc {
    margin-left: 10rem;
  }

  .blog-footer-bloc {
    padding-left: 4rem;
  }

  footer {
    width: 76vw;
  }
}

@include from(md) {
  .navbar,
  header,
  main,
  footer {
    max-width: unset;
    width: 80vw;
  }

  header {
    margin-bottom: 20vh;
  }

  header::after {
    top: 45vw;
  }

  header::before {
    top: 78vw;
  }

  .social-media-bloc {
    margin-right: 15rem;
  }

  .proposition-value-bloc {
    width: 80rem;
  }

  .proposition-value-bloc p {
    margin-top: unset;
  }

  h1 {
    font-size: 1.2rem;
  }

  .proposition-value-bloc p {
    font-size: 5rem;
    line-height: 8.2rem;
  }

  .number-article {
    font-size: 14rem;
  }

  .article-title::before {
    width: 6rem;
  }

  .section-homepage .article-homepage:nth-child(1) .number-article {
    top: 0;
  }

  .section-homepage .article-homepage:nth-child(odd) .number-article {
    left: -5%;
  }

  .section-homepage .article-homepage:nth-child(2) .number-article {
    top: 36%;
    left: 49%;
  }

  .section-homepage .article-homepage:nth-child(3) .number-article {
    top: 73%;
  }

  .section-homepage .article-homepage:nth-child(2) .article-text-bloc {
    padding-right: unset;
    padding-left: 5rem;
  }

  .article-title {
    font-size: 2rem;
  }

  .article-subtitle {
    line-height: 5.5rem;
    font-size: 4.1rem;
  }

  .article-img {
    max-width: 46.6rem;
    max-height: 62rem;
    width: auto;
    height: auto;
    min-width: 36.6rem;
    min-height: 52rem;
  }

  .article-text-bloc {
    margin-left: unset;
    align-items: baseline;
    max-height: 800px;
    height: auto;
    min-width: 350px;
    margin: unset;
    padding-right: 5rem;
    width: auto;
  }

  .blog-footer-bloc {
    padding-left: unset;
    grid-column: 6/8;
  }

  .infos-mntn-bloc {
    margin-left: unset;
  }
}
