span {
  font-family: "Chronicle Display", sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
}

.number-article {
  font-weight: 700;
  font-size: 24rem;
  color: rgba(255, 255, 255, 0.1803921569);
}

h2 {
  font-weight: 600;
  letter-spacing: 0.5rem;
  color: #fbd784;
}

h3 {
  font-family: "Chronicle Display", sans-serif;
  font-weight: 300;
  font-size: 6.4rem;
  line-height: 8rem;
}

h4 {
  font-weight: 700;
  color: #fbd784;
  font-size: 2.4rem;
}

article img {
  width: 56.6rem;
  height: 72rem;
}

body::after {
  background: linear-gradient(to bottom, rgba(11, 29, 38, 0), rgb(11, 29, 38));
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
}

html {
  height: 100%;
  font-size: 62.5%;
  line-height: 1.15;
}

html,
body {
  width: 100vw;
  margin: 0;
}

body {
  font-family: "Gilroy", sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  background-image: url("/public/img/Background picture copy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 370vh;
  background-color: #0b1d26;
  color: #ffffff;
}

body::after {
  content: "";
  position: absolute;
  top: 1040px;
  left: 0;
  right: 0;
  width: 100vw;
  height: 700px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  font-weight: 800;
  transform: scale(1.1, 1.1);
}

li {
  list-style: none;
}

body > * {
  width: calc(92vw - (100vw - 100%));
  margin: auto;
}

h1 {
  font-weight: 800;
  color: #fbd784;
  font-size: 1.8rem;
  flex-basis: 100%;
  word-spacing: 0.5rem;
  letter-spacing: 0.6rem;
  padding-left: 3rem;
}

h1::before,
h2::before {
  content: "";
  display: inline-block;
  width: 8rem;
  height: 2px;
  background-color: #fbd784;
  position: relative;
}

h1::before {
  right: 3rem;
  top: -4px;
}

h2::before {
  top: -9px;
}

article p,
article a {
  font-weight: 700;
}

article a {
  color: #fbd784;
  font-weight: 700;
  height: 30rem;
}

.navbar {
  height: 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link-bloc {
  display: flex;
  justify-content: space-between;
  width: 300px;
}
.nav-link-bloc li {
  display: inline-block;
}

.profil-bloc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10rem;
}

header {
  height: 64rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 55vh;
}

.social-media-bloc,
.progress-bloc {
  display: flex;
  flex-direction: column;
}

.social-media-bloc {
  justify-content: center;
  align-items: self-start;
  height: 40rem;
  width: 45rem;
}

.social-media-bloc > * {
  padding: 10px 0;
}

.social-media-bloc img {
  width: 2.45rem;
}

.follow {
  writing-mode: vertical-lr;
  letter-spacing: 0.2rem;
  height: -moz-max-content;
  height: max-content;
}

.proposition-value-bloc {
  display: flex;
  flex-wrap: wrap;
  width: 100rem;
}

.proposition-value-bloc p {
  font-size: 8.8rem;
  font-family: "Chronicle Display", sans-serif;
  font-weight: 300;
  line-height: 9.5rem;
  margin-top: 2rem;
}

.proposition-value-bloc a {
  display: inline-block;
  width: 10rem;
  height: 5rem;
}

.proposition-value-bloc a,
.proposition-value-bloc img {
  margin-top: 4rem;
}

.arrow-down {
  width: 16px;
  height: 24px;
}

.progress-bloc {
  width: 10rem;
  height: 24rem;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 29rem;
  right: 4%;
  z-index: 4;
}

.progress-bloc a {
  width: 100%;
  text-align: end;
  padding-right: 5rem;
  position: relative;
}

.progress-bloc::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 7px;
  height: 100%;
  background-color: rgba(203, 205, 204, 0.68);
}

.progress-bloc::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 6px;
  background-color: white;
  transition: height 0.5s ease-out;
  height: var(--height, 0);
}

.progress-bloc.active::after {
  height: 0%;
}

.progress-bloc.active.two::after {
  height: 40%;
}

.progress-bloc.active.three::after {
  height: 70%;
}

.progress-bloc.active.four::after {
  height: 100%;
}

main {
  background-color: transparent;
  width: 100vw;
  left: 0;
}

main::after {
  content: "";
  z-index: 2;
  top: 1549px;
  width: 100%;
  height: 150px;
  position: absolute;
  background: linear-gradient(to top, #0b1d26 10%, rgba(12, 15, 15, 0));
}

section {
  width: 72vw;
  margin: auto;
}

section:first-child {
  z-index: 3;
  position: relative;
}

article {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 3.7vw);
  margin-bottom: 20vh;
}

h2 {
  grid-row: 3/4;
  grid-column: 2/5;
}

h3 {
  display: inline-block;
  margin-bottom: 10px;
  grid-row: 4/6;
  grid-column: 2/6;
}

.article-text {
  width: 632px;
  height: 160px;
  font-weight: 400;
  grid-row: 7/9;
  grid-column: 2/6;
}

article a {
  display: block;
  height: 50px;
  grid-column: 2/3;
  grid-row: 9/10;
}

article a,
.arrow-right {
  margin-top: 2rem;
}

.article-img {
  align-self: flex-start;
  justify-self: end;
  grid-column: 7/11;
}

.number-article {
  position: absolute;
  left: -1.32rem;
}

.arrow-right {
  width: 30px;
  height: 20px;
  grid-column: 3/4;
  grid-row: 9/10;
}

#first-article .number-article {
  top: 150px;
}

/* footer {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
}
 *//*# sourceMappingURL=index.css.map */