span {
  font-family: "Chronicle Display", sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
}

.number-article {
  font-weight: 700;
  font-size: 24rem;
  color: rgba(255, 255, 255, 0.1803921569);
}

.article-title {
  font-weight: 600;
  letter-spacing: 0.5rem;
  color: #fbd784;
}

.article-subtitle {
  font-family: "Chronicle Display", sans-serif;
  font-weight: 300;
  font-size: 6.4rem;
  line-height: 8rem;
}

h4 {
  font-weight: 700;
  color: #fbd784;
  font-size: 2.4rem;
}

header::after {
  background: linear-gradient(to bottom, rgba(11, 29, 38, 0), rgb(11, 29, 38));
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw;
}

html {
  height: 100%;
  font-size: 62.5%;
  line-height: 1.15;
  margin: 0;
}

body > * {
  max-width: 100vw;
  margin: auto;
}

body {
  overflow-x: hidden;
  font-family: "Gilroy", sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  background-image: url("../public/img/Background-picture-copy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 370vh;
  background-color: #0b1d26;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  font-weight: 800;
  transform: scale(1.1, 1.1);
}

li {
  list-style: none;
}

header::after {
  content: "";
  position: absolute;
  top: 69vw;
  left: 0;
  right: 0;
  width: 100vw;
  height: 700px;
}

.navbar {
  height: 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar,
header {
  width: 100%;
  max-width: 1760px;
}

h1 {
  font-weight: 800;
  color: #fbd784;
  font-size: 1.8rem;
  flex-basis: 100%;
  word-spacing: 0.5rem;
  letter-spacing: 0.6rem;
  padding-left: 3rem;
}

h1::before,
.article-title::before {
  content: "";
  display: inline-block;
  width: 8rem;
  height: 2px;
  background-color: #fbd784;
  position: relative;
}

h1::before {
  right: 3rem;
  top: -4px;
}

.nav-link-bloc {
  display: flex;
  justify-content: space-between;
  width: 300px;
}
.nav-link-bloc li {
  display: inline-block;
}

.profil-bloc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10rem;
}

.social-media-bloc,
.progress-bloc {
  display: flex;
  flex-direction: column;
}

.social-media-bloc {
  justify-content: center;
  align-items: self-start;
  height: 40rem;
  width: 10rem;
  margin-right: 30rem;
}

.social-media-bloc > * {
  padding: 10px 0;
}

.social-media-bloc img {
  width: 2.45rem;
}

.follow {
  writing-mode: vertical-lr;
  letter-spacing: 0.2rem;
  height: -moz-max-content;
  height: max-content;
}

.proposition-value-bloc {
  display: flex;
  flex-wrap: wrap;
  width: 100rem;
}

.proposition-value-bloc p {
  font-size: 8.8rem;
  font-family: "Chronicle Display", sans-serif;
  font-weight: 300;
  line-height: 9.5rem;
  margin-top: 2rem;
}

.proposition-value-bloc a {
  display: inline-block;
  width: 10rem;
  height: 5rem;
}

.proposition-value-bloc a,
.proposition-value-bloc img {
  margin-top: 4rem;
}

.arrow-down {
  width: 16px;
  height: 24px;
}

.progress-bloc {
  width: 10rem;
  height: 24rem;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 29rem;
  right: 15vw;
  z-index: 4;
}

.progress-bloc a {
  width: 100%;
  text-align: end;
  padding-right: 5rem;
  position: relative;
}

.progress-bloc::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 7px;
  height: 100%;
  background-color: rgba(203, 205, 204, 0.68);
}

.progress-bloc::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 6px;
  background-color: white;
  transition: height 0.5s ease-out;
  height: var(--height, 0);
}

.progress-bloc.active::after {
  height: 0%;
}

.progress-bloc.active.two::after {
  height: 40%;
}

.progress-bloc.active.three::after {
  height: 70%;
}

.progress-bloc.active.four::after {
  height: 100%;
}

.article-title::before {
  top: -9px;
  margin-right: 20px;
}

.number-article {
  position: absolute;
}

header {
  height: 64rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 98vh;
}

main::after {
  content: "";
  z-index: 2;
  top: 84vw;
  left: 0;
  right: 0;
  width: 100%;
  height: 150px;
  position: absolute;
  background: linear-gradient(to top, #0b1d26 10%, rgba(12, 15, 15, 0));
}

.article-img {
  width: 76rem;
  height: 92rem;
}

footer {
  position: absolute;
  height: 29vh;
  width: 72vw;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  margin: auto;
}

main {
  background-color: transparent;
  width: 90vw;
  margin: auto;
  height: 260vh;
}

.section-homepage:first-child {
  z-index: 3;
  position: relative;
}

.article-homepage p,
.article-homepage a {
  font-weight: 700;
}

.article-homepage a {
  color: #fbd784;
  font-weight: 700;
  height: 30rem;
}

.article-homepage {
  display: grid;
  grid-template-columns: repeat(11, 10%);
  grid-template-rows: repeat(6, 5vw);
  margin-bottom: 15vh;
}

.article-title {
  grid-column: 2/5;
}

.article-title,
.section-homepage .article-homepage:nth-child(even) .article-title {
  grid-row: 2/3;
}

.section-homepage .article-homepage:nth-child(even) .article-title {
  grid-column: 6/10;
}

.article-subtitle {
  display: inline-block;
  margin-bottom: 10px;
  margin-top: unset;
  grid-row: 3/4;
  grid-column: 2/6;
}

.section-homepage .article-homepage:nth-child(even) .article-subtitle {
  grid-row: 4/6;
  grid-column: 6/10;
}

.article-text {
  max-width: 632px;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  min-height: 160px;
  font-weight: 400;
  grid-row: 5/7;
  grid-column: 2/6;
}

.section-homepage .article-homepage:nth-child(even) .article-text {
  grid-row: 7/9;
  grid-column: 6/10;
}

.article-homepage a {
  display: block;
  height: 50px;
  grid-column: 2/3;
}

.section-homepage .article-homepage:nth-child(even) a {
  grid-column: 6/7;
  grid-row: 9/10;
}

.article-homepage a,
.arrow-right {
  grid-row: 6/7;
  margin-top: 2rem;
}

.article-img {
  align-self: flex-start;
  justify-self: end;
  grid-column: 7/12;
}

.section-homepage .article-homepage:nth-child(even) .article-img {
  grid-column: 1/6;
  justify-self: baseline;
}

.section-homepage .article-homepage:nth-child(odd) .number-article {
  left: -1.32rem;
}

.section-homepage .article-homepage:nth-child(even) .number-article {
  right: 50rem;
}

.section-homepage .article-homepage:nth-child(even) .arrow-right {
  grid-column: 7/8;
  grid-row: 9/10;
}

.arrow-right {
  width: 30px;
  height: 20px;
  grid-column: 3/4;
}

#first-article .number-article {
  top: 150px;
}

section,
footer {
  margin: auto;
  max-width: 1700px;
}

.mntn-copyright-bloc {
  grid-column: 1/4;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.mntn-copyright-bloc p {
  margin-top: 20px;
  display: block;
}

.mntn-copyright-bloc p:last-child {
  margin-top: 12rem;
}

.blog-footer-bloc {
  grid-column: 7/9;
}

.infos-mntn-bloc {
  grid-column: 9/11;
  margin-left: 10rem;
}

footer li,
h4 {
  margin-bottom: 2rem;
}

@media only screen and (max-width: 1920px) {
  header {
    margin-bottom: 55vh;
  }
  section,
  footer {
    max-width: 1462px;
  }
  .article-homepage {
    margin-bottom: 29vh;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 3.7vw);
  }
  .article-img {
    width: 56.6rem;
    height: 72rem;
  }
  .article-title {
    grid-row: 3/4;
    grid-column: 2/5;
  }
  .article-subtitle {
    grid-row: 4/6;
    grid-column: 2/6;
  }
  .article-text {
    grid-row: 7/9;
    grid-column: 2/6;
  }
  .article-homepage a,
  .arrow-right {
    grid-row: 9/10;
  }
  .section-homepage .article-homepage:nth-child(even) .article-img {
    grid-column: 2/5;
  }
  .section-homepage .article-homepage:nth-child(even) .number-article {
    right: 50rem;
  }
  .section-homepage .article-homepage:nth-child(even) .arrow-right {
    grid-column: 7/8;
    grid-row: 9/10;
  }
}/*# sourceMappingURL=index.css.map */